body::-webkit-scrollbar {
  width: 14px;
  background: #f0ead8; 
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #a39f91;
}